:root {
    --text-color: #0f1484 !important;
    /* --background-color: #EAF0FF !important */
}
section p {
    color: rgba(15, 20, 132, 0.7) !important;
}
.hero {
    /* background-image: none !important; */
}
.dark body {
    --text-color: #fff !important;
}
.dark section p {
    color: #fff !important;
}
#box.inputBox span {
    display: none;
}
